<nav>
  <a class="mat-elevation-z6 logo" mat-button routerLink="/">ROME TIMELINE</a>
  <div class="mat-elevation-z6 tabs">
    <a class="tab" mat-button routerLink='/home/overview'>
      Home<mat-icon>home</mat-icon>
    </a>
    <a class="tab" mat-button routerLink='/timeline'>
      Timeline<mat-icon>timeline</mat-icon>
    </a>
    <a class="tab" mat-button routerLink='/resources'>
      Resources<mat-icon>book</mat-icon>
    </a>
    <a class="tab" mat-button routerLink='/forum'>
      Forum<mat-icon>account_balance</mat-icon>
    </a>
    <a class="tab" mat-button routerLink='/user'>
      User: {{user.name}}<img src={{user.profilePic}} alt="user prof pic">
    </a>
  </div>
</nav>
