// notes:
// A primary palette: colors most widely used across all screens and components.
// An accent palette: colors used for the floating action button and interactive elements.
// A warn palette: colors used to convey error state.
// A foreground palette: colors for text and icons.
// A background palette: colors used for element backgrounds.

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$test-app-primary: mat-palette($mat-deep-purple, 300);
$test-app-accent:  mat-palette($mat-amber, A200, A100, A400);
$test-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$test-app-theme: mat-dark-theme($test-app-primary, $test-app-accent, $test-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($test-app-theme);

body {
  margin: 0;
}
html {
  // background: map-get($mat-grey, 800);
  background: #303030;
}