<mat-toolbar>Ave Imperator!</mat-toolbar>

<div class="container">
  <mat-card>
    <mat-card-title>Rome, the Eternal City.</mat-card-title>
    <mat-card-content>
       In history, few cities have left a legacy on the world as great and far-reaching as the City of the Seven Hills.
       This website contains a timeline, resources, information on key people, forums, and much more, all centered around the history of the Roman Empire and its legacy. From its founding until
      its fall, from Kingdom, to Republic, to Empire, from Romulus to Augustulus, this website covers all ages and time periods of rome and her peoples.  
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>Tabs</mat-card-title>
    <mat-card-content>
      <p>Home: Contains an overview of this website, a list of eras in Roman History, and bios of prominent people throughout Roman history.</p>
      <p>Timeline: Comprehensive timeline of the history of Rome, from its founding in 753 BC by Romulus until the fall of the Western Empire in 476 AD.</p>
      <p>Resources: Articles, podcasts, information, and other learning resources.</p>
      <p>Forum: Discuss all things Rome with other interested community members.</p>
      <p>User: Log in to be able to post and comment in the forum.</p>
    </mat-card-content>
  </mat-card>
</div>