<mat-vertical-stepper>
  <ng-template matStepperIcon="edit">
    <mat-icon></mat-icon>
  </ng-template>
  <mat-step label="Roman Kingdom (753 BC - 509 BC)">
    <mat-card>Aeneas</mat-card>
    <mat-card>Romulus and Remus</mat-card>
    <mat-card>The Founding of Rome</mat-card>
    <mat-card>Seven Kings of Rome</mat-card>
    <mat-card>The Tarquines, and the Birth of the Republic</mat-card>
  </mat-step>
  <mat-step label="Early Republic (509 BC - 134 BC)">
    <mat-card>The Infant Republic and Siege of Veii</mat-card>
    <mat-card>Barbarians at the Gates</mat-card>
    <mat-card>The Latin War</mat-card>
    <mat-card>The Samnite Wars</mat-card>
    <mat-card>The Pyrrhic Invasion</mat-card>
    <mat-card>The First Punic War</mat-card>
    <mat-card>The Second Punic War</mat-card>
    <mat-card>The Macedonian Wars</mat-card>
  </mat-step>
  <mat-step label="Late Republic (134 BC - 27 BC)">
    <mat-card>The Gracchi Brothers</mat-card>
    <mat-card>Gaius Marius and the Marian Reforms</mat-card>
    <mat-card>The Cimbrian War</mat-card>
    <mat-card>Marius and Sulla: Rome's first Civil War</mat-card>
    <mat-card>The Social War</mat-card>
    <mat-card>The Mithridatic Wars</mat-card>
    <mat-card>Crassus and Pompey</mat-card>
    <mat-card>The Servile Wars</mat-card>
    <mat-card>Julius Caesar and the first Triumvirate</mat-card>
    <mat-card>Crassus and the Parthians</mat-card>
    <mat-card>The Gallic Wars</mat-card>
    <mat-card>Crossing the Rubicon</mat-card>
    <mat-card>The Great Roman Civil War</mat-card>
    <mat-card>The Assasination of Julius Caesar</mat-card>
    <mat-card>Octavian and the Second Triumvirate</mat-card>
    <mat-card>Final War of the Roman Republic</mat-card>
    <mat-card>Emperor Caesar Augustus</mat-card>
  </mat-step>
  <mat-step label="Principate (27 BC - 284 AD)">
    <mat-card>The Principate</mat-card>
    <mat-card>The Julio-Claudian Dynasty</mat-card>
    <mat-card>The Teutoburg Disaster</mat-card>
    <mat-card>Emperor Tiberius</mat-card>
    <mat-card>Germanicus</mat-card>
    <mat-card>The Praetorians and Sejanus</mat-card>
    <mat-card>Emperor Caligula: Nightmare of Rome</mat-card>
    <mat-card>Emperor Claudius</mat-card>
    <mat-card>Emperor Nero: Artist of Insanity</mat-card>
    <mat-card>The Great Jewish Revolt</mat-card>
    <mat-card>The Great Fire and Early Christianity</mat-card>
    <mat-card>Year of the Three Emperors: Galba, Otho, Vitellius</mat-card>
    <mat-card>Emperor Vespasian: The Flavian Dynasty</mat-card>
    <mat-card>Emperor Titus</mat-card>
    <mat-card>Emperor Domitian: The Tyrant Augustus</mat-card>
    <mat-card>Emperor Nerva: The Nerva-Antonine Dynasty and the Five Good Emperors</mat-card>
    <mat-card>Emperor Trajan: Rome's Greatest Emperor</mat-card>
    <mat-card>The Dacian Wars</mat-card>
    <mat-card>Emperor Hadrian: The Bulwark of Rome</mat-card>
    <mat-card>Emperor Antoninus: The Pious</mat-card>
    <mat-card>Co-Emperors: Marcus and Lucius</mat-card>
    <mat-card>The Parthian Wars</mat-card>
    <mat-card>Emperor Marcus Aurelius: The Philosopher, Last of The Five Good Emperors</mat-card>
    <mat-card>The Marcomannic Wars</mat-card>
    <mat-card>Cassius's Revolt</mat-card>
    <mat-card>War Along the Danube</mat-card>
    <mat-card>Emperor Commodus: The Worst Emperor Since Nero</mat-card>
    <mat-card>Emperors Pertinax, Julianus and the Auction of the Principate</mat-card>
    <mat-card>Emperor Septimius Severus: The Severine Dynasty</mat-card>
    <mat-card>Emperor Caracalla: Worst Brother in Roman History</mat-card>
  </mat-step>
  <mat-step label="Dominate (284 AD - 476 AD)">

  </mat-step>
  <mat-step label="Byzantine (476 AD - 1453 AD)">

  </mat-step>
</mat-vertical-stepper>

