.content {
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

mat-toolbar {
  font-size: 2em;
}

.tab-icon {
  margin-left: 10px;
}

.spacer {
  flex: 1 1 auto;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.tab-group {
  display: flex;
  justify-content: center;
  /* background: #5E35B1; */
  background: #212121;
}

