<div class="content">
  <mat-toolbar>
    <span>Resources</span>
    <span class="spacer"></span>
    <mat-icon>book</mat-icon>
  </mat-toolbar>
  <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/Roman_Capriccio_The_Pantheon_and_Other_Monuments_by_Giovanni_Paolo_Panini.jpg" alt="home image">
  <mat-toolbar></mat-toolbar>
  <mat-card>
    <mat-card-title>History of Rome Podcast by Mike Duncan</mat-card-title>
    <div class="card-content">
      <p>
        The History of Rome Podcast by Mike Duncan is a
        fantastic source of information about the full history of Rome, from Aeneas to Augustulus,
        narrated with enthusiasm and detail. Check it out on spotify or at
        Duncan's <a href="https://thehistoryofrome.typepad.com/" target="_blank">site</a>.
      </p>
      
      <iframe
        src="https://open.spotify.com/embed-podcast/episode/5biepeD3eUeZGn76fC6d5x"
        
        width="100%"
        height="232"
        frameborder="0"
        allowtransparency="true"
        allow="encrypted-media"></iframe>
    </div>
  </mat-card>
  <mat-card>
    <mat-card-title>Ab Urbe Condita by Titus Livius</mat-card-title>
    <div class="card-content">
      <p>
        The book History of Rome, sometimes referred to as Ab Urbe Condita, is a monumental history of ancient Rome, written in Latin between 27 and 9 BC by the historian Titus Livius, or "Livy", as he is usually known in English. The work covers the period from the legends concerning the arrival of Aeneas and the refugees from the fall of Troy, to the city's founding in 753, the expulsion of the Kings in 509, and down to Livy's own time, during the reign of the emperor Augustus. The last event covered by Livy is the death of Drusus in 9 BC. About 25% of the work survives.
        It can be found <a href="http://mcadams.posc.mu.edu/txt/ah/Livy/">here</a>.
      </p>
    </div>
  </mat-card>
</div>
  